SECRET_KEY=your-secret-key-here
REFRESH_KEY=your-refresh-key-here

POSTGRES_DB_NAME=oddease_db
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER=fastapi_user
POSTGRES_DB_PASSWORD=your-postgres-password

MONGO_DB_NAME=oddease
MONGO_DB_HOST=localhost
MONGO_DB_PORT=27017
MONGO_DB_USER=oddease_admin
MONGO_DB_PASSWORD=your-mongo-password

REVIEW_DB_PROVIDER=mongo
USER_DB_PROVIDER=mongo
LIKE_DB_PROVIDER=postgres
COMMENT_DB_PROVIDER=postgres
